body {
    display: flex;
    background: #08002b;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.loginBox {
    background: white;
    width: 400px;
    height: 200px;
    padding: 50px;
    border: 3px solid #1e00ff;
    border-radius: 20px;    
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    align-items: center;
    gap: 10px;
}

.field label {
    width: 90px;
}

button {
    height: 40px;
    width: 135px;    
    margin: 20px auto 0;    
}