body {
    display: flex;
    background: #c4c4c4;
    font-family:'Courier New', Courier, monospace;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.loginBox {
    background: white;
    width: 400px;
    height: 200px;
    padding: 50px;
    border: 3px solid #060223;
    border-radius: 20px;   
    box-shadow: 0 2px 12px #090031;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #b8b8b8;
    letter-spacing: 30%;
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 10%;
}

.field label {
    width: 90px;
}

button {
    height: 40px;
    width: 135px;    
    margin: 20px auto 0;    
}